<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Enquete</title>
</head>

<body>
  <h1><strong>Categoria: {{ category.title }} </strong></h1>
  <h2>Descrição da categoria: </h2>
  <p>{{ category.description }}</p>
  <h2>Criada em: {{ category.started_at }}</h2>
  <hr>
  <h3>Perguntas relacionadas:</h3>
  {% if error_message %}
  <hr>
  <strong>{{ error_message }} </strong>
  <hr>
  {% endif %}
  <ul>
    {% for question in category.question_set.all %}
    <li>
      <a href="{% url 'main:detalhes' question.id %}">
        <h4>Pergunta: {{ question.text }}</h4>
      </a>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url 'main:index' %}" class="btn btn-danger">Home</a>
</body>

</html>