<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Enquete</title>
</head>

<body>
  <h1><strong>Categoria: <a href="{% url 'main:categorias' category.id %}"> {{ category.title }} </a> </strong></h1>
  <h2>Descrição da categoria: </h2>
  <p>{{ category.description }}</p>
  <h2>Criada em: {{ category.started_at }}</h2>
  <hr>
  <h3>Detalhes da Enquete {{ question.id }}</h3>
  <u>Pergunta:</u> {{ question.text }} <br>
  <u>Data de publicação:</u> {{ question.data_publicacao }} <br>
  {% if error_message %}
  <hr>
  <strong>{{ error_message }} </strong>
  <hr>
  {% endif %}
  <form action="{% url 'main:votacao' question.id %}" method='post'>
    {% csrf_token %}
    <ul>
      {% for opcao in question.choice_set.all %}
      <li>
        <input type='radio' name='opcao' id="opcao{{forloop.counter}}" value={{opcao.id}} />
        <label for="opcao{{forloop.counter}}">
          {{ opcao.text }}
        </label>
      </li>
      {% endfor %}
    </ul>
    <input type="submit" value="Registre o seu voto" />
  </form>
</body>

</html>