{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Enquete</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>

<body>
  {%if ultimas_perguntas %}
  <h2>Lista das Útimas Enquetes</h2>
  <ul>
    {% for pergunta in ultimas_perguntas %}
    <li>
      <a href="{% url 'main:detalhes' pergunta.id %}">
        {{ pergunta.text }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h3>Não há enquetes cadastradas até o momento!</h3>
  {% endif %}

</body>

</html>