<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Enquete</title>
</head>

<body>
  <h2>Resultado parcial da Enqeunte {{ question.id }}</h2>
  <u>Pergunta:</u> {{ question.text }} <br>
  <u>Data de publicação:</u> {{ question.data_publicacao }}

  <ul>
    {% for opcao in question.opcao_set.all %}
      <li> {{ opcao.text }} = {{ opcao.votos }} voto{{ opcao.votos | pluralize}}</li>
    {% endfor %}
  </ul>

  <hr>

  <a href=" {%url 'main:detalhes' question.id %}">Deseja votar novamente</a>
  <br>
  <a href=" {%url 'main:index'%}">Retornar para a página principal </a>

</body>

</html>